#menu {
    align-content: center;
    order:2;
    margin:0;
    padding: 0;
}
#menu li {
    background-color: #0B0D0D;
    list-style: none;
    margin-bottom: 4px;
    display: block;
}
#menu li:last-child {
    margin-bottom: 0px;
}
#menu li a {
    color: #E3F0EF;
    display: block;
    font-size: 20px;
    font-weight: 300;
    position: relative;
    padding: 0.5rem;
    text-decoration: none;
}
#menu li a.is-active {
    background-color: #f8f8ed;
    color: #0b0d0d;
}

#menu li.is-active {
    display: block;
}

@media all and (min-width: 600px) {
    :host {
        order:1;
        flex: 1 0px;
    }
    #menu li a {
        font-size:3.4vw;
    }
}

