<navmenu></navmenu>
<div class="content">
    <h1>Address</h1>
    <p class="postalAddress" translate="no" typeof="schema:PostalAddress">
        <span property="schema:name">Globe Town Mosque</span><br>
        <span property="schema:streetAddress">100 Roman Road</span><br>
        <span property="schema:addressLocality">London</span>,<br>
        <span property="schema:postalCode">E2 0RN</span>, <abbr property="schema:addressCountry">UK</abbr>
    </p>
    <div class="map">
        <div class="gmap">
            <iframe id="gmap"
                src="https://maps.google.com/maps?q=Globe%20Town%20Mosque%20And%20Cultural%20Centre&t=&z=19&ie=UTF8&iwloc=&output=embed"
                frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
        </div>
    </div>
</div>