.content {
    color: #0b0d0d; 
    background-color: #f8f8ed;
    border: 1px solid;
    margin: 10px 0;
}
.content h1 {
    font-size: 20px;
    font-weight: 600;
    margin: 10px;    
}
.postalAddress {
    margin: 0 10px 10px;
}
.gmap_canvas {
    background: none !important;
}
#gmap {
    width: 100%;
    height: 300px;
}
@media all and (min-width: 600px) {
    :host {
        display: flex;
        flex-direction: row-reverse;        
    }
    .content {
        margin: 0 0 0 10px;
        width: 60vw;
        flex-wrap: wrap;
    }
}

