.content {
    background-color: #f8f8ed;
    border: 1px solid;
    color: #0b0d0d;
    margin: 10px 0;
    padding: 10px;
}
.content h1 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;    
}
.content h2 {
    font-size: 16px;    
    font-weight: 600;
    margin-bottom: 10px;
}
@media all and (min-width: 600px) {
    :host {
        display: flex;
        flex-direction: row-reverse;        
    }
    .content {
        margin: 0 0 0 10px;
        width: 60vw;
        flex-wrap: wrap;
    }
}
