#wrpr {
    background-color: #2A2D2E;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    align-content: flex-start;
    min-height: 96vh;
}
#wrpr > * {
  padding: 10px;
  flex: 1 100%;
}
header {
    text-align: left;
    display: flex;
    align-self: flex-end;
}
 a:visited {
    text-decoration: none;
    color: inherit;
}

header a {
    color: #E3F0EF;
    display: block;
    font-weight: 300;
    padding: 0.5rem;
    text-decoration: none;
}


/*.logo {
    width: 50px;
    order: 1;
}
.logo img {
    height: 30px;
}*/

section {
  padding-top: 0 !important;
}

h1 {
    order: 2;
}
.content {
    border: 1px solid;
    margin: 10px 0;
    background-color: #f8f8ed;
    color: #0b0d0d;
}
.content h1 {
    margin: 10px;
    font-weight: 600;
}
@media all and (min-width: 600px) {
    h1 {
        font-size: 30px;
    }
    .logo img {
        height: 50px;
    }
    .logo {
        width: 60px;
    }
}

@media all and (min-width: 1000px) {
    #wrpr {
        max-width: 1600px;
        margin: 0 auto;
    }
}

