#today {
    text-align: left;
}
.salaah {
    background-color: #0b0d0d;
    color: #e3f0ef;
    display: flex;
    margin: 0 0 0.25em 0;
    flex-flow: row wrap;
    justify-content: flex-end;
}
.salaah h4 {
    font-size: 20px;
    flex: 1;
}
.salaah > * {
    font-size: 20px;
    margin: 0.25em;
    line-height: 1.3;
}
.start, .jamaat, .sunrise {
    display: flex;
    flex-direction: column;
}
.prayerLabel {
    font-size: 12px;
}
.salaah .start {
    order: 1;    
}
.salaah .jamaat {
    order: 2;
}
.salaah .sunrise {
    order: 3;
}

.btn {
    background-color: transparent;
    color: #f8f8ed;
    border: none;
    font-size: 1.4em;
}
#prayerHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 0;
}
@media all and (min-width: 600px) {
    :host {
        display: flex;
        flex-direction: row-reverse;
        
    }    
    #prayer {
        margin: -56px 0 0 10px;
        width: 60vw;
        
    }
    #prayer h4, #prayer .prayerTime {
        font-size:3.4vw;
    }
    .prayerLabel {
        font-size: 2vw;
    }
    #prayerHeader {
        margin: 0 0 25px 20vw;
    }
    .salaah .start, .salaah .jamaat, .salaah .sunrise {
        margin: 0.25em .25em .25em 2vw;
    }

    #prayer h2 {
        font-size: 30px;
        margin: 0;
    }
}


